<div>
  <mat-form-field appearance="fill">
    <mat-label>Categorias</mat-label>
    <mat-select [(ngModel)]="categoryView">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{category | iconNames}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p>{{categoryView}}</p>

  <div class="tabs-content" *ngIf="categoryView">

    <div class="group-icon" fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="10px">
      <div class="div-icon" *ngFor="let icon of filterListIcons(categoryView); trackBy:trackBy">
        <mat-icon [mat-dialog-close]="icon.name">{{ icon.name }} </mat-icon>
        <p>{{ icon.name }} </p>
      </div>
    </div>
  </div>

  <div>
    <button mat-button>Selecionar</button>
    <button mat-button (click)="close()">Fechar</button>
  </div>
</div>