.tabs-content {
  margin-top: 2rem;
}

.div-icon {
  .mat-icon {
    width: 5rem;
    font-size: 3rem;
    cursor: pointer;
  }

  p {
    font-size: 10px;
    color: gray;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  text-align: center;
}

.div-icon:hover {
  background-color: lightgrey;
  border-radius: 5px;
}
