.tabs-content {
  margin-top: 2rem;
}

.group-icon {
  .mat-icon {
    width: 5rem;
    font-size: 3rem;
    cursor: pointer;
  }

  p {
    font-size: 10px;
    color: gray;
  }

  text-align: center;
}
