.width-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-infix {
  display: flex;
  justify-content: center;
}

.button-select-icon {
  display: flex;
  justify-content: center;
}

.ajust-titles {
  text-align: center;
}

.itens-margin {
  padding: 1rem 0;

  form {
    padding-top: 1rem;
  }
}

.main-margin {
  padding-bottom: 1rem;

  form {
    padding-top: 1rem;
  }
}

.title-item {
  margin-top: 1rem;
}

.mat-accordion .mat-expansion-panel {
  margin: 1rem 0;
}
