.width-form-field {
  width: 100%;
}

.ajust-titles {
  text-align: center;
}

.buttons-actions {
  float: right;
}

.itens-margin {
  padding: 1rem 0;

  form {
    padding-top: 1rem;
  }
}

.main-margin {
  padding-bottom: 1rem;

  form {
    padding-top: 1rem;
  }
}

.title-item {
  margin-top: 1rem;
}
