.image-container {
  width: 600px;
  margin: auto;

  img {
    border: 5px dotted lightgrey;
    width: 100%;
  }
}

.group-select-image {
  .name-image {
    padding-right: 5px;
    font-size: 10px;
    color: grey;
  }
}
