mat-divider {
  background-color: dimgrey;
}

/* -------------------------------------------------------------------------- */
/*                             MENUS WEB E MOBILE                             */
/* -------------------------------------------------------------------------- */

.mat-toolbar.mat-primary {
  background: #3e3e3e;
  color: #fff;
}

.sidenav-width {
  background: #3e3e3e;
  box-shadow: 1px 0 10px #888888;
}

.title-sidenav {
  color: white;
  place-content: center space-between;
  width: 100%;
  display: flex;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

//  Make sure the toolbar will stay on top of the content as it scrolls past.
.navbar-is-mobile .navbar-toolbar {
  position: fixed;
  z-index: 2;
}

h1.navbar-app-name {
  margin-left: 8px;
}

//  When the sidenav is not fixed, stretch the sidenav container to fill the available space. This causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts.
.navbar-sidenav-container {
  flex: 1;
}

// When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the `<body>` to be our scrolling element for mobile layouts.
.navbar-is-mobile .navbar-sidenav-container {
  flex: 1 0 auto;
}
