/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.font-italic {
  font-style: italic;
}

.mat-drawer-container {
  background-color: lightgrey;
}

button {
  min-width: 100px !important;
}

.button-remove {
  color: red;
}

.buttons-form-right {
  float: right;
  button {
    float: right;
  }
}

.alert-msg {
  color: rgb(158, 158, 64);
}

/* -------------------------------------------------------------------------- */
/*                               Loading Spinner                              */
/* -------------------------------------------------------------------------- */

mat-spinner {
  margin: auto;
}
.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: lightgrey;
}

/* -------------------------------------------------------------------------- */
/*                            All components cards                            */
/* -------------------------------------------------------------------------- */

.card-component,
.nav-width {
  margin: auto;
  margin-top: 1rem;
  max-width: 1280px;
  padding: 2rem !important;
}

/* -------------------------------------------------------------------------- */
/*                                 IMAGE STYLE                                */
/* -------------------------------------------------------------------------- */

.image-container {
  width: 400px;
  min-width: 400px;
  margin: auto;

  .style-container {
    border: 5px dotted lightgrey;
    height: 300px;
  }

  img {
    width: 100%;
  }
}

.group-select-image {
  .name-image {
    padding-right: 5px;
    font-size: 10px;
    color: grey;
  }
}
